In [1]:
# SUPPORT VECTOR MACHINE

In [2]:
# IMPORT LIBRARY PACKAGES
import pandas as pd

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
# LOAD GIVEN DATASET
data=pd.read_csv('hospital.csv')

In [5]:
df=data.dropna()

In [6]:
df.columns

Index(['outcome', 'age', 'BMI', 'heart rate', 'Systolic blood pressure',
       'Diastolic blood pressure', 'Respiratory rate', 'temperature', 'SP O2',
       'Urine output', 'glucose', 'PH'],
      dtype='object')

In [7]:
df.head()

,outcome,age,BMI,heart rate,Systolic blood pressure,Diastolic blood pressure,Respiratory rate,temperature,SP O2,Urine output,glucose,PH
0,0.0,72,37.588179,68.837838,155.866667,68.333333,16.621622,36.714286,98.394737,2155.0,114.636364,7.230
2,0.0,83,26.572634,72.318182,135.333333,61.375000,23.640000,36.453704,95.291667,2425.0,149.000000,7.268
3,0.0,43,83.264629,94.500000,126.400000,73.200000,21.857143,36.287037,93.846154,8760.0,128.250000,7.370
4,0.0,75,31.824842,67.920000,156.560000,58.120000,21.360000,36.761905,99.280000,4455.0,145.750000,7.250
5,0.0,76,24.262293,74.181818,118.100000,52.950000,20.545455,35.266667,96.818182,1840.0,98.333333,7.310

In [8]:
df=df.rename({'heart rate':'heart_rate','Systolic blood pressure':'Systolic_blood_pressure',
              'Diastolic blood pressure':'Diastolic_blood_pressure','Respiratory rate':'Respiratory_rate',
              'SP O2':'SP_O2','Urine output':'Urine_output'},axis=1)

In [9]:
df.columns

Index(['outcome', 'age', 'BMI', 'heart_rate', 'Systolic_blood_pressure',
       'Diastolic_blood_pressure', 'Respiratory_rate', 'temperature', 'SP_O2',
       'Urine_output', 'glucose', 'PH'],
      dtype='object')

In [10]:
from sklearn.preprocessing import LabelEncoder
var_mod=['outcome','age','BMI','heart_rate','Systolic_blood_pressure','Diastolic_blood_pressure',
         'Respiratory_rate','temperature','SP_O2','Urine_output','glucose','PH']
le=LabelEncoder()
for i in var_mod:
    df[i]=le.fit_transform(df[i]).astype(int)

In [11]:
df.head()

,outcome,age,BMI,heart_rate,Systolic_blood_pressure,Diastolic_blood_pressure,Respiratory_rate,temperature,SP_O2,Urine_output,glucose,PH
0,0,38,584,118,677,564,91,279,474,347,126,9
2,0,49,263,167,589,405,498,188,188,388,317,29
3,0,9,695,500,509,618,411,137,96,553,198,181
4,0,41,464,110,678,321,382,293,543,514,303,17
5,0,42,174,195,389,191,340,7,319,304,49,80

In [12]:
# preprocessing, split test and dataset, split response variable
X=df.drop(labels='outcome',axis=1)
# Response variable
y=df.loc[:,'outcome']

In [13]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
X=scaler.fit_transform(X,y)

In [14]:
import imblearn
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

ros=RandomOverSampler(random_state=42)
x_ros,y_ros=ros.fit_resample(X,y)
print('OUR DATASET COUNT        :',Counter(y))
print('OVER SAMPLING DATA COUNT :',Counter(y_ros))

OUR DATASET COUNT        : Counter({0: 608, 1: 101})
OVER SAMPLING DATA COUNT : Counter({0: 608, 1: 608})

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x_ros,y_ros,test_size=0.30,random_state=42,stratify=y_ros)
print('Number of training dataset:',len(X_train))
print('Number of test dataset    :',len(X_test))
print('Total number of dataset   :',len(X_train)+len(X_test))

Number of training dataset: 851
Number of test dataset    : 365
Total number of dataset   : 1216

In [16]:
# Implementing SVC logo
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,plot_confusion_matrix

ImportError: cannot import name 'plot_confusion_matrix' from 'sklearn.metrics' (C:\ProgramData\anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [ ]:
# Training
svc=SVC()
svc.fit(X_train,y_train)
predicted=svc.predict(X_test)

In [ ]:
# Finding Accuracy
accuracy=accuracy_score(y_test,predicted)
print('Accuracy of Support Vector Classifier',accuracy*100)

In [ ]:
# Finding Classification Report
cr=classification_report(y_test,predicted)
print('Classification report\n\n',cr)

In [ ]:
# Finding Confusion Matrix
cm=confusion_matrix(y_test,predicted)
print('Confusion matrix\n\n',cm)

In [ ]:
import matplotlib.pyplot as plt
fig,ax=plt.subplots(figsize=(10,10))
plot_confusion_matrix(svc,X_test,y_test,ax=ax)
plt.title('Confusion matrix of SVC')
plt.show()

In [ ]:
df2=pd.DataFrame()
df2['y_test']=y_test
df2['predicted']=predicted
df2.reset_index(inplace=True)
plt.figure(figsize=(20,5))
plt.plot(df2['predicted'][:100],marker='x',linestyle='dashed',color='green')
plt.plot(df2['y_test'][:100],marker='o',linestyle='dashed',color='red')
plt.show()